/* main */

html, body {
  height: 100% !important;
  padding: 0px;
  margin: 0;

}

.main_container {
    width: 900px;
    margin: 0 auto;
}

.main_controls {
    position: relative;
    top: 30px;
}

.board {
    height: 360px;
    width: 360px;
    margin: 50px auto;
    background: #fff;
}

.board_cell {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #02759C;
    background: #EBEBEB;
    cursor: pointer;
    float: left;
    line-height: 110px;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    font-family: Arial;
}

.level {
    margin: 0 15px;
    color: #000;
    cursor: pointer;
}

.button {
    width: 125px;
    margin: 0 auto;
    display: block;
}

.play_new_game_again_btn {
    display: none;
}

.board_message {
    width: 70%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font: bold 14px Verdana, Arial, sans-serif, Georgia, "Times New Roman", Times, serif;
    color: #315585;
}

.board_message > p {
    margin: 0px;
}

/* end main */